.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.h1 {
  font-size: 0.8rem;
  //   margin-top: 8rem;
}

.reset-password {
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

.reset-btn {
  margin-top: 5rem;
  padding: 0.6rem 1.2rem;
}
