.container {
  display: inline-block;
  height: 400px;
  width: 750px;
  position: absolute;
  left: 60%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.billing-address {
  flex: 1;
  height: 400px;
}
.credit-card {
  flex: 1;
  height: 400px;
}
.information-heading {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.card {
  background-color: blue;
}
