.container {
  position: relative;
  left: -18%;
  top: 40px;
  text-align: center;
}
.wrapper {
  h1 {
    margin-bottom: 1rem;
    color: green;
    font-size: 3rem;
  }
  img {
    margin-bottom: 1.5rem;
  }
  Button {
    margin-top: 1rem;
  }
}
