.container {
  display: inline-block;
  display: inline;
  position: absolute;
  left: 47%;
  bottom: 40%;
}
.status {
  display: inline-block;
  display: inline;
  position: absolute;
  left: 47%;
  bottom: 25%;
}
