.container {
  position: relative;
  left: -10%;
  top: -10%;
  transform: translate(-1%, 35%);
}
.wrapper {
  text-align: center;
  h1 {
    margin-bottom: 1rem;
    color: green;
    font-size: 3rem;
  }
  img {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 1.5rem;
  }
}
